
body{
    background: #2975d1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2975d1 0%, #35e0ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2975d1 0%,#35e0ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2975d1 0%,#35e0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2975d1', endColorstr='#35e0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.section{
    min-height: 100px;
    padding: 10px 0px;
}

.paper{
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
    padding: 10px;
}

.bw-white{
    background-color: #fff;
}

.rounded{
    border-radius: 10px !important;
}

.rounded-t{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rounded-b{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group-text{
    background-color: rgb(238, 245, 255) !important;
    width: 130px;
}


.section#header{
    padding-top: 0;
    min-height: 0px;
}

#budget-selector{
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.2s;
    color: white;
}

#budget-selector:hover{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    
}

#budget-selector option{
    color: black;
}


.section#calculator{
    min-height: 500px;
    padding: 10px 0px 40px 0px;
}

.section#print-sheet{
    background-color: #f8f8fb;
    padding: 30px 0px;
    min-height: 500px;

}

.budget{
    color: #808080;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.budget-top{
    height: 10px;
}

.top-blue{
    background: #2975d1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2975d1 0%, #35e0ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2975d1 0%,#35e0ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2975d1 0%,#35e0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2975d1', endColorstr='#35e0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.top-purple{
    background: #7229d1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7229d1 0%, #b850e9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7229d1 0%,#b850e9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7229d1 0%,#b850e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2975d1', endColorstr='#b850e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.top-gray{
    background: #969696; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #969696 0%, #cfcfcf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #969696 0%,#cfcfcf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #969696 0%,#cfcfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2975d1', endColorstr='#b850e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.budget-mid{
    padding: 10px;
}


.budget p{
    margin: 0;
}

.budget-bot{
    padding: 5px 10px;
    background-color: #f8f8fb;
}

.budget-bot p{
    text-align: right;
    font-size: 1.5em;
    font-weight: 400;
    color: #b4b4b6;
}

.budget-delete{
    float: left;
    bottom: 0;
    line-height: 1.5em;
    color: #dddddd;
    cursor: pointer;
    transition: 0.2s all;
}

.budget-delete:hover{
    color: #7c7c7c;

}

.total{
    vertical-align: middle;
    text-align: right;
    font-size: 2em;
}

.footer-spacer{
    width: 100%;
    height: 40px;
}

.section#footer{
    height: 40px;
    background-color: rgb(46, 46, 46);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    min-height: 0px;
}

@media print{
    .budget{
        border: 1px solid black;
    }
    *{
        background-color:transparent !important;
    }
    @page{
        size: A4;
    }
}